<div class="jumbotron bgbranding">
    <div class="container-fluid corner50" style="background: rgba(235, 235, 250, .97);">
        <h3>{{data_title}}</h3>
        <div id="data_content"></div>
        <div>
            <table id="example" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>BLKLOT</th>
                        <th>Lot Suffix</th>
                        <th>Lot Number</th>
                        <th>Block Suffix</th>
                        <th>Block Number</th>
                        <th>Volume Number</th>
                        <th>Owner SeqNumber</th>
                        <th>Owner Name</th>
                        <th>Owner Entry Date</th>
                        <th>Owner Lot Status</th>
                        <th>Owner Rec Bk</th>
                        <th>Owner Rec Pg</th>
                        <th>Owner Trans Type</th>
                        <th>Owner Update Date</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div><!-- /container -->
</div> <!-- /jumbotron -->
<script>
// ===========================================================
// Initial page load
// ===========================================================
$(function(){
    var data_content_json = {{{json data_content}}}
    var data_content_text = JSON.stringify(data_content_json)
    //$("#data_content").append(data_content_text)
    $('#example').DataTable( {
        "data": data_content_json,
        "columns": [
            { "data": "BLKLOT" },
            { "data": "LotSuffix" },
            { "data": "LotNumber" },
            { "data": "BlockSuffix" },
            { "data": "BlockNumber" },
            { "data": "VolumeNumber" },
            { "data": "OwnerSeqNumber" },
            { "data": "OwnerName" },
            { "data": "OwnerEntryDate" },
            { "data": "OwnerLotStatus" },
            { "data": "OwnerRecBk" },
            { "data": "OwnerRecPg" },
            { "data": "OwnerTransType" },
            { "data": "OwnerUpdateDate" }
        ]
        })
})
</script>
