<div class="jumbotron bgbranding">
    <div class="container corner50" style="background-color: #f5f5ff;">
        <h3>{{data_title}}</h3>
        <div id="data_content"></div>
        <div>
            <table id="example" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Longitude</th>
                        <th>Latitude</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Longitude</th>
                        <th>Latitude</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div><!-- /container -->
</div> <!-- /jumbotron -->
<script>
// ===========================================================
// Initial page load
// ===========================================================
$(function(){
    var data_content_json = {{{json data_content}}}
    var data_content_text = JSON.stringify(data_content_json)
    //$("#data_content").append(data_content_text)
    $('#example').DataTable( {
        "data": data_content_json,
        "columns": [
            { "data": "id" },
            { "data": "name" },
            { "data": "longitude" },
            { "data": "latitude" }
        ]
        })
})
</script>
