<div class="jumbotron bgbranding">
    <div class="container-fluid corner50" style="background: rgba(235, 235, 250, .97);">
        <h3>{{data_title}}</h3>
        <div id="data_content"></div>
        <div>
            <table id="example" class="display" style="width:100%">
                <thead>
                    <tr>
                        {{#each field_list}}
                            <th>{{ this }}</th>
                        {{/each}}
                    </tr>
                </thead>
            </table>
        </div>
    </div><!-- /container -->
</div> <!-- /jumbotron -->
<script>
// ===========================================================
// Initial page load
// ===========================================================
$(function(){
    var data_content_json = {{{json data_content}}}
    var col_array = []
    {{#each field_list}}
        var obj = { "data": "{{this}}" }
        col_array.push(obj)
    {{/each}}
    $('#example').DataTable( {
        "data": data_content_json,
        "columns": col_array
    })
})
</script>
